html
	head
		title Welkem to ower place
		style
			include ../public/style.css
	body
		section
			h1 First Health
		form.form-customer(
			action='/customers'
			method='post'
		)
			.form-customer
				label(for='nama') nama
				input(
					type='text'
					name='nama'
					id='nama'
					required
				)
			.form-customer
				label(for='umur') umur
				input(
					type='text'
					name='umur'
					id='umur'
					required
				)
			.form-customer
				label(for='jenis_kelamin') jenis kelamin
				input(
					type='text'
					name='jenis_kelamin'
					id='jenis_kelamin'
					required
				)
			.form-customer
				label(for='alamat') alamat
				input(
					type='text'
					name='alamat'
					id='alamat'
					required
				)
			.form-customer
				label(for='no_hp') nomor hp
				input(
					type='text'
					name='no_hp'
					id='no_hp'
					required
				)
			.form-customer
				label(for='suhu') suhu
				input(
					type='text'
					name='suhu'
					id='suhu'
					required
				)
			.form-customer
				input(
					type='submit'
					value="selesai"
				)
			
		if status.statusCode = 201
			p berhasil tambah data
